<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
        <Title>Drawbot</Title>
    </head>
    <body onload="typeWriter()">
        <!--header>
            Welcome to Drawbot
        </header-->

        {% include 'header.html' %}

        <div>
            <h1 id="sus">
            </h1>
            <h2 id="sas">
                Show him a picture <br>or ask him to draw one of our various pre-installed models.
            </h2>
        </div>

        <form id="gog", action="/", method="POST">
            <input type="text" id="cmd" name="cmd" placeholder="Entrez un modèle"><br><br>
            <input type="submit" id="sub" value="Soumettre">
        </form>
        <div>
            {% block content %}{% endblock %}
        </div>

        <footer>

        </footer>
        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>
