* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

body{
    margin: auto;
    font-family: 'system-ui';
    background-color:rgb(60, 60, 60);
    color:white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(80, 80, 80);
}

li {
    float: left;
}

li a {
    display: block;
    /*color: black;*/
    color:white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: 0.8s;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: rgb(190, 190, 190);
    color:black;
}

h1{
    margin-left:70px;
    margin-right:70px;
    font-size: 60px;
    
}

#colored{
    background-image: linear-gradient(45deg, #03045e, #90e0ef);
    border-radius:50px;
    padding:20px;
}

div{
    text-align: center;
}

#pres{
    width:30vw;

    font-size:15px;
    float:left
}

#container {
    margin-left:70px;
    margin-right: 70px;
}

#checker{
    float:right;
    width:50vw;
}


.sty_btn{
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 55px;
    text-align:center;
    border: none;
    background-size: 300% 100%;
    border-radius: 50px;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.sty_btn:hover {
    background-position: 100% 0;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}

.sty_btn:focus {
    outline: none;
}


.sty_btn {
    background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
    box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}

/*bdd*/
.box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 20vh;
    margin: 0 auto;
    margin-top: 3px;
    margin-bottom: 3px;
    border: 1px solid black;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    position: relative;
  }

  .sousbox1{
    height: 100%;
    width: 50%;
  }
  .sousbox2{
    height: 100%;
    width: 25%;
  }

  .sousbox3{
    height: 100%;
    width: 25%;
  }

  .sousbox3 input{
    margin-left: 3px;
    position: absolute;
    max-width: 25%;
    background-color: rgba(80, 80, 80, 0.8);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
  }

  .p1{
    top: 10%;
    left: 26%;
  }

  .p2{
    top: 30%;
    left: 26%;
  }

  .p3{
    top: 50%;
    left: 26%;
  }
  
  .sousbox1 img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
  }
  
  .info {
    position: absolute;
    background-color: rgba(80, 80, 80, 0.8);
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    font-family: Arial, sans-serif;
    width: 20%;
  }
 
  .name {
    top: 10%;
    left: 5%;
  }
  
  .angle {
    top: 30%;
    left: 5%;
  }
  
  .distance {
    top: 50%;
    left: 5%;
  }
  
  .submit {
    top: 70%;
    left: 5%;
    margin-top: 1px;
  }
/**bdd*/

    .grodiv {
    height: 100vh;
    margin: 0;
    }
    
    .grodiv div {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: #25aae1;
    color: white;
    text-align: center;
    font-size: 48px;
    line-height: 100px;
    transition: .4s ease;
    }

    #square1 {
      top: 10%;
      left: 46%;
    }

    #square2 {
      top: 40%;
      left: 15%;
    }

    #square3 {
      top: 40%;
      left: 46%;
    }

    #square4 {
      top: 40%;
      left: 80%;
    }

    #spacebar {
    position: absolute;
    width: 400px;
    height: 100px;
    background-color: #25aae1;
    color: white;
    text-align: center;
    font-size: 48px;
    line-height: 100px;
    top: 70%;
    left: 36%;
    }